.temportal-theme .tabber {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 5px;
	margin: 0px;
	text-decoration: none;
	color: #8C8C8C;
	
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
}
.temportal-theme .tabber.selected{
	color: #454545;
}
.temportal-theme .message{
	
}
.temportal-theme .message .info-img{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url("/images/32/Info.png") no-repeat;
}
