.abstract-table{
	border: 3px solid red;
	font-family: Helvetica,Arial,sans-serif;
	overflow: auto;
}
.abstract-table .scroller{
	overflow: auto;
}
.abstract-table table{
	width: 400px;
	table-layout: fixed;
}
.abstract-table table tr:nth-child(odd){
	background: #cce6ff;
}

.abstract-table table tr:nth-child(even){
	background: #ffffff;
}
.abstract-table table th{
	line-height:28px;
	padding-left: 5px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.abstract-table table td{
	line-height:28px;
	padding-left: 5px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-paginator{
	padding: 10px;
}

.table-paginator .devider{
	margin-left: 10px;
	margin-right: 10px;
}

.table-paginator .digit a{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 0.8em;
	font-family: Helvetica,Arial,sans-serif;
}

.table-paginator .digit a:HOVER{
	text-decoration: underline;
}
.table-paginator .digit.selected{
	font-weight: bold;
}

.table-paginator .page-size a{
	text-decoration: none;
	color: black;
	font-size: 0.8em;
	font-family: Helvetica,Arial,sans-serif;
}
.table-paginator .page-size a:HOVER{
	text-decoration: underline;
}
.table-paginator .page-size.selected{
	font-weight: bold;
}
.table-paginator .total-size{
	color: black;
	font-size: 0.8em;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
}