<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Tem Portal</display-name>


	<filter>
		<filter-name>PortalApplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>kz.tem.portal.explorer.application.PortalApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PortalApplication</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	
	<listener>
	<listener-class>kz.tem.portal.context.listener.PortalContextListener</listener-class>
   </listener>
</web-app>